.header {
  background: white;
    height: 5rem;
    display: flex;
  align-items: center;
  gap: 20px;
  padding: 0 15px;
  margin: 0 auto;
  
 width: 70%; 
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
.headerNav{
  /* position: fixed; */
    top: 0; 
 
    width: 100%; 
    z-index: 1000; 
    display: flex;
    
}

