
.headerNav{
  
    justify-content: center;
    width: 100%; 
    
    display: flex;   
}
.headerAll {
  display: flex;
  justify-content: space-between;
  background: white;
  align-items: center;
  width: 70%;
  margin: 0 auto;
  padding: 15px 0;
}

.header {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-left: 0;
  padding: 0 15px;

}

.money {
 font-size: 25px;
 color: gray;
 
}
.basketIconDiv {
  margin-left: auto;
  margin-right: 15px; 
  border: 1px solid gray;
  padding: 5px;
  border-radius: 10px;
  display: flex;
  align-items: end;
  gap: 5px;
  cursor: pointer;
}
.moneyDiv{
  flex-grow: 1; /* Разрешить контейнеру растягиваться */
  display: flex; 
 
}