.item{
    margin: 10px; 
    border: 1px solid #ccc;
     padding: 10px; 
     width: calc(33% - 20px);
     position: relative;
}
.image{
    width: 100%;
    position: relative;
    margin-bottom: 0;
}
.containerImg {
    position: relative;
}
.overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0;
    background-color: rgba(255, 255, 255, 0.8);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    overflow: hidden;
    transition: height 0.3s ease;
    z-index: 1;
    
  }
  
  .containerImg:hover .overlay {
    height: 100%; /* Высота оверлея при ховере */
    cursor: pointer;
  }
  .pizzaComposition {
    color: black;
    text-indent: 15px;
  }
  .weightAndPrice {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
   
  }
  .nameDishes {
    text-align: center;
    margin: 20px 0;
    color: brown;
    font-size: 22px;
}

.containerForButtonToOrder{
    width: 100%;
    display: flex;
    justify-content: center;
}
.toOrder{
    margin-bottom: 20px;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 12px;
    letter-spacing: 0.12px;
    color: #fff;
    background-color: #4caf50;
    border-radius: 6px;
    border: none;
    top: 0;
    left: 0;
    height: 45px;
    width: 30%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-transition: opacity 0.2s;
    transition: opacity 0.2s, background 0.3s, color 0.3s;
    transition: background-color 0.3s ease;
    cursor: pointer;
}

.toOrder:hover {
  background-color: #45a049;
}

.toOrder.clicked {
  background-color: #388e3c;
}
.weightAndPriceButton {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.weightAndPriceButton button{
  border: none;
  padding: 10px;
  border-radius: 15px;
  margin-bottom: 10px;
  cursor: pointer;
}
.weightAndPriceButton button.active{
  background: #5cce54;
  color: white;
  border: none;
}
.priceFromWeight{
    display: block;
    flex-grow: 1; /* Расширение элемента <p> на всю доступную высоту */
}
/* Добавить стили для сообщения */
.message {
  background-color: #ffeb3b;
  color: #000;
  padding: 10px;
  border: 1px solid #fbc02d;
  border-radius: 5px;
  margin-top: 10px;
  text-align: center;
  animation: fadeInOut 10s ease-in-out;
  position: absolute;
  z-index: 1;
  top: 300px;
  left: 10%;
  height: 110px;
  width: 300px;
}

@keyframes fadeInOut {
  0%, 100% { opacity: 0; }
  10%, 90% { opacity: 1; }
}
